
    .info {
        background-color: #00203F;
        color: white;
        height: 43vh;
        width: 50vw;
        padding: 170px;
        margin-left: 320px;
    }
    
    .img {
        position: absolute;
        right: 650px;
        top: 150px;
        overflow: hidden;
    }
    
    .img img{
        transition: all ease 1s ;
    }
    
    .img:hover img{
        scale: 1.2;
    }
    
    .sum {
        height: 580px;
        width: 320px;
     background-color: rgba(0, 4, 255, 0.226); 
    }

    .n {
        color: white;
        position: absolute;
        top: 100px;
        padding-left: 830px;
    }

    .info p {
        line-height: 150%;
        padding-left: 220px;
        text-align: center;
    }

    .acheivements2 p {
        top: -11px;
        left: 70px;
        text-decoration: underline;
        text-align: center;
        position: absolute;

    }

    .acheivements span {
        font-size: small;
    }

    .acheivements span:first-child {
        text-align: center;
        position: absolute;
        top: 20px;
        left: 73px;
    }

    .acheivements span:nth-child(2) {
        text-align: center;
        position: absolute;
        top: 108px;
        left: 43px;
    }

    .acheivements span:nth-last-child(4) {
        text-align: center;
        position: absolute;
        top: 195px;
        left: 20px;
    }

    .acheivements span:nth-last-child(3) {
        left: 79px;
        position: absolute;
        text-align: center;
        top: 287px;
    }

    .acheivements span:nth-last-child(2) {
        position: absolute;
        text-align: center;
        top: 380px;
        left: 30px;
    }

    .acheivements span:nth-last-child(1) {
        position: absolute;
        text-align: center;
        top: 470px;
        left: 22px;
    }

    button {
        background-color: #ff0000de; 
        border: none; 
        border-radius: 6px; 
        line-height: 48px;
         padding: 0 14px;
         width: 150px;
         text-align: center;
         position: absolute;
         bottom: 80px;
         right: 260px; 
        }
    
    button a{
        color: white;
        text-decoration: none;
    }
    
    button:hover{
        background-color: #ff0000c0;
        cursor: pointer;
    }
   


/* =========================
   MOBILE RESPONSIVENESS
   ========================= */
@media (max-width: 768px) {

  body {
    overflow-x: hidden;
  }

  /* Main container / section */
  .main,
  .container,
  .section,
  .hero {
    flex-direction: column !important;
    width: 100% !important;
  }

  /* Left Achievements Section */
  .achievements,
  .left,
  .left-section {
    width: 100% !important;
    padding: 20px !important;
    text-align: center;
  }

  .achievements h2,
  .achievements h3,
  .achievements p {
    text-align: center;
    font-size: 14px;
  }

  /* Right Content Section */
  .right,
  .right-section,
  .content {
    width: 100% !important;
    padding: 20px !important;
    text-align: center;
  }

  .right p,
  .content p {
    font-size: 14px;
    line-height: 1.6;
    word-break: normal;
    white-space: normal;
  }

  /* Fix vertical text issue */
  .right *,
  .content * {
    writing-mode: horizontal-tb;
  }

  /* Read More Button */
  .read-more,
  button {
    margin: 15px auto;
    display: block;
    width: 70%;
    font-size: 14px;
  }

  /* Images (if any) */
  img {
    max-width: 100%;
    height: auto;
  }
}
